:root {
    --color-ocean: #4BA6A7;        /* Teal doux pour les éléments principaux */
    --color-sand: #E6D3B3;         /* Beige sable pour les fonds ou les accents */
    --color-sun: #F3C17C;          /* Jaune pastel pour les détails lumineux */
    --color-wave: #86C4C6;         /* Bleu doux pour les bordures ou hover */

    --color-bg: #F9F7F3;           /* Couleur de fond globale */
    --color-text: #2C2C2C;         /* Texte principal */
    --color-heading: #264653;      /* Titres et accentuation */
    --color-muted: #A9B0AA;        /* Texte secondaire ou désactivé */
  
    --color-hover: #3D8C8E;        /* Survol */
    --color-border: #DAD6CC;       /* Bordures légères */
  }
.dark-mode {
    
    --color-ocean: #72D1D2;        /* Teal clair et lumineux pour contraste */
    --color-sand: #CBBFA6;         /* Beige adouci */
    --color-sun: #F4C97A;          /* Jaune doux pour les touches chaleureuses */
    --color-wave: #9AD8D9;         /* Bleu clair de soutien */

    
    --color-bg: #1E1E1E;           /* Fond principal foncé */
    --color-text: #ECECEC;         /* Texte clair */
    --color-heading: #DDE6E6;      /* Titres élégants */
    --color-muted: #8A8F8F;        /* Texte secondaire ou désactivé */

    
    --color-hover: #55B7B8;        
    --color-border: #3A3A3A;      
}
  
